{{#if hasBlock}}
	{{yield}}
{{else}}
	<input type="file" accept={{_accept}} multiple={{allowMultipleFiles}} disabled={{disableImport}} onchange={{action "retrieveFile"}} />

	{{#if _showImportButton}}
		<button {{action "importFiles"}}>Import Files</button>
	{{/if}}
{{/if}}